*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
    list-style: none;
    padding: 8px 12px;
    position: relative;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ce1a1a;
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 90%;
}
.container{
    max-width: 1300px;
    margin: auto;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url('logo.png');
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around ;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 60%;
    padding: 40px 0;
}
.col-2 h1{
    font-size: 40px;
    line-height: 60px;
    margin: 25px 0;
}
.col-2 p, .col-2 a{
    padding-left: 40px;
}
.btn, .btn1{
    display: inline-block;
    background: #ce1a1a;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.56;
}
.btn:hover{
    background: #553434;
}
.btn1:hover{
    background: #553434;
}
.header{
    background: radial-gradient(#fff, #00bbff);
}
.header .row{
    margin-top: 30px;
}
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
       
}
.footer h1{
    color: #fff;
    text-align: center;
    
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3{
    min-width: 250px;
}
.footer-col-3{
    flex-basis: 12%;
    text-align: center;

}
ul{
    list-style-type: none;
}
.footer-col-2, .footer-col-3, .footer-col-5{
    float: left;
    text-align: center;
}
.footer-col-3 ul li a{
    color: #8a8a8a;
    text-decoration: none;
}
.footer-col-2 .mail{
    margin-top: 20px;
}
.footer-col-2 a{
    text-decoration: none;
    color: #8a8a8a
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}